
@{
    ViewBag.Title = "Categories";
}

<div class="container">
    <div class="well">
        <div class="row">
            <div class="col-sm-4">

                <a href="/Article/Club">
                    <img src="~/Content/Images/Club.jpg" class="img-responsive img-rounded" alt="Arsenal FC logo" />
                    <p class="text-center lead">Club</p>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="/Article/League">
                    <img src="~/Content/Images/League.png" class="img-responsive img-rounded" alt="Premier League Logo"/>
                    <p class="text-center lead">League</p>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="/Article/Players">
                    <img src="~/Content/Images/Players.jpg" class="img-responsive img-rounded" alt="Arsenal players"/>
                    <p class="text-center lead">Players</p>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <a href="/Article/Game">
                    <img src="~/Content/Images/Game.jpg" class="img-responsive img-rounded" alt="Football game preview image"/>
                    <p class="text-center lead">Pre/Post Game</p>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="/Article/Transfers">
                    <img src="~/Content/Images/Transfers.jpg" class="img-responsive img-rounded" alt="Football transfers image"/>
                    <p class="text-center lead">Transfers</p>
                </a>
            </div>
            <div class="col-sm-4">                
                <a href="/Article/Stats">
                    <img src="~/Content/Images/Stats.jpg" class="img-responsive img-rounded" alt="Statistics image"/>
                    <p class="text-center lead">Stats</p>
                </a>
            </div>
        </div>
    </div>
</div>

