
@{
    ViewBag.Title = "Categories";
}

<div class="container">
    <div class="well">
        <div class="row">
            <div class="col-sm-4">

                <a href="/Article/Club">
                    <img src="~/images/Club.jpg" class="img-responsive img-rounded" />
                    <p class="text-center lead">Club</p>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="/Article/League">
                    <img src="~/images/League.png" class="img-responsive img-rounded" />
                    <p class="text-center lead">League</p>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="/Article/Players">
                    <img src="~/images/Players.jpg" class="img-responsive img-rounded" />
                    <p class="text-center lead">Players</p>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <a href="/Article/Game">
                    <img src="~/images/Game.jpg" class="img-responsive img-rounded" />
                    <p class="text-center lead">Pre/Post Game</p>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="/Article/Transfers">
                    <img src="~/images/Transfers.jpg" class="img-responsive img-rounded" />
                    <p class="text-center lead">Transfers</p>
                </a>
            </div>
            <div class="col-sm-4">                
                <a href="/Article/Stats">
                    <img src="~/images/Stats.jpg" class="img-responsive img-rounded" />
                    <p class="text-center lead">Stats</p>
                </a>
            </div>
        </div>
    </div>
</div>

