
@{
    ViewBag.Title = "Categories";
}

<div class="container">
    <div class="well">
        <div class="row">
            <div class="col-sm-6">Club</div>
            <div class="col-sm-6">League</div>
            <div class="col-sm-6">Players</div>
            <div class="col-sm-6">Pre/Post Game</div>
            <div class="col-sm-6">Transfers</div>
            <div class="col-sm-6">Stats</div>
        </div>
    </div>
</div>

