@model Blog.Models.ArticleRatingViewModel

@{
    ViewBag.Title = "Rate";
}

<h2>Rate article</h2>

<p>Some text I'm gonna write tomorrow</p>

@using (Html.BeginForm("Rate", "Article", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.HiddenFor(m => m.ArticleId)
    @Html.HiddenFor(m => m.User)

    <p>Rate this article: </p>

    @Html.DropDownListFor(m => m.Rating, new List<SelectListItem>
        {
            new SelectListItem() {Text = "1", Value = "1" },
            new SelectListItem() {Text = "2", Value = "2" },
            new SelectListItem() {Text = "3", Value = "3" },
            new SelectListItem() {Text = "4", Value = "4" },
            new SelectListItem() {Text = "5", Value = "5" },
            new SelectListItem() {Text = "6", Value = "6" },
            new SelectListItem() {Text = "7", Value = "7" },
            new SelectListItem() {Text = "8", Value = "8" },
            new SelectListItem() {Text = "9", Value = "9" },
            new SelectListItem() {Text = "10", Value = "10" }
        })

    <input type="submit" value="Rate" class="btn btn-success btn-xs" />
}

